.navbar{

    background: rgb(58, 134, 255);
  background: linear-gradient(
    90deg,
    rgba(58, 134, 255, 1) 1%,
    rgba(246, 0, 192, 1) 100%
  );
}

.color{
    color: white;
}

img{
  height: 600px;
}